# ─── FOLDERS ──────────────────────────────────────────────────────────────────
COMMON_DIR=./common
OLLAMA_DIR=./ollama
VLLM_DIR=./vllm

# ─── Ollama API ───────────────────────────────────────────────────────────────
OLLAMA_IP_WEB=0.0.0.0
OLLAMA_PORT_WEB=11434

# ─── Ollama SSH ───────────────────────────────────────────────────────────────
OLLAMA_IP_SSH=0.0.0.0
OLLAMA_PORT_SSH=22001

# ─── vLLM API ─────────────────────────────────────────────────────────────────
VLLM_IP_WEB=0.0.0.0
VLLM_PORT_WEB=8001

# ─── vLLM SSH ─────────────────────────────────────────────────────────────────
VLLM_IP_SSH=0.0.0.0
VLLM_PORT_SSH=22005

# ─── llama.cpp ────────────────────────────────────────────────────────────────
LLAMACPP_DIR=./llamacpp

# ─── llama.cpp API ────────────────────────────────────────────────────────────
LLAMACPP_IP_WEB=0.0.0.0
LLAMACPP_PORT_WEB=8082

# ─── llama.cpp SSH ────────────────────────────────────────────────────────────
LLAMACPP_IP_SSH=0.0.0.0
LLAMACPP_PORT_SSH=22006

